@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

* {
	/* border: 1px solid !important; */
    white-space: pre-line;
}

.popupBodyCenter {
    text-align:center
}
.popupBodyLeft {
    text-align:left
}

body {
    font-size:12px;
    margin: 0;  
    padding: 60px 0 60px 0;
}

* html body{  
    overflow: hidden;  
}

.constents{
    width: 100%;
    height: 100%;  
    overflow: auto;  
} 

.header {
    height:60px;
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff
}

.footer-tab {
    height:60px;
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff
}

.currentTab {
    color: #f28280 !important;
}

.menuIcon {
    font-size:9px;
    color:#A6A5A5;
    text-align:center;
}
.p18 {
    font-size: 18px;
}

.p14 {
    font-size: 14px;
}

.p12 {
    font-size: 12px;
}

.p10 {
    font-size: 10px;
}

.p9 {
    font-size: 9px;
}

.grayBar {
    background-color:#303432;
    height:2px;
    opacity:0.1;
    margin:14px 0;
}

.dotBar {
    height: 4px;
    background-image : linear-gradient(to right, #F28280 4px, transparent 4px);
    background-size: 8px 4px;
    background-repeat: repeat-x; 
    background-position: left bottom;
}

.common-bar {
    width:100%;
    height:40px;
    background-color:#F28280;
    color:#ffffff;
    font-size:20px;
    border-radius: 6px;
    padding: 7px 0 0 10px;
}

#overlay{
    /*要素を重ねた時の順番*/
    z-index:9999;

    /*画面全体を覆う設定*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);

    /*画面の中央に要素を表示させる設定*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    z-index:10000;
    width:325px;
    padding: 1em;
    background:#fff;
    border-radius: 6px;
}

.modalBg {
    overflow-y: hidden;
}

.post-user {
    font-size: 10px;
    color: #A6A5A5;
    text-decoration: none !important;
}
.post-title {
    font-size: 12px;
    color: #474747;
    font-weight:bold;
    text-decoration: none !important;
}
.post-outline {
    font-size: 6px;
    color: #211F1E;
}
.post-sub {
    font-size: 10px;
    color: #A6A5A5;
}
.post-num {
    font-size: 12px;
    color: #211F1E;
}

.font-pink {
    color: #f28280 !important;
}

.link {
    color: #f28280 !important;
    text-decoration: none !important;
    font-size: 12px !important;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.tips {
    width:19px;
    height:19px;
}

.line {
    border: 1px solid #f28280;
    margin: 0;
}

.form-select {
    border:none;
    border-radius:10px;
    box-shadow: none;
    height: 40px;
    background-color: #fff5f6 !important;
    font-size:12px;
}

input:-webkit-autofill {
    /* transition: background-color 5000s ease-in-out 0s !important; */
    box-shadow: 0 0 0 1000px #fff5f6 inset;
}

.input-text {
    border:none;
    border-radius:10px;
    box-shadow: none;
    height: 40px;
    background-color: #fff5f6 !important;
    font-size:12px;
}

.input-text:focus {
    outline: 2px solid #f28280; 
}

.select:focus {
    box-shadow: none;
    outline: 2px solid #f28280; 
}

.searchBox {
    position:relative;
    margin-bottom:60px;
}

.searchBox-text {
    position:absolute; 
    left:0;
    top:0; 
}
.searchBox-btn {
    position:absolute; 
    right:9px;
    top:9px;
    background:none;
    /* color:#666; */
    border:none;
}
.searchBox-btn:focus-visible {
    outline: none;
}

.dialogBg {
    position: fixed;
    top : 0;
    left : 0;
    z-index: 998; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    background: rgba(0, 0 , 0, 0.5);
}

.dialog {
    position: fixed;
    top : 50%;
    left : 50%;
    z-index: 998; 
    width: 300px;
    height: 200px;/*表示する高さ*/
    transform: translate(-50%,-50%);
    overflow: auto;
    background: #ffdff3;
}

.page-main {
    /* display:inline; */
    padding: 0;
}

.page-li {
    display:inline;
}

.page-li-in {
    padding:10px 15px;
    color: #C0BFBF;
    text-decoration: none;

}

.page-li-in:hover {
    color: #C0BFBF;
}

.page-cur {
    background-color:#f28280;
    border-radius: 50%;
    color: #ffffff;
}

.errMsg {
    color : #EE3632;
    font-size: 6px;
    text-align:left;
    margin:0;
}

.constrains {
    color : #F28280;
    font-size: 6px;
    text-align:right;
    margin:0;
}

.annotMsg {
    color : blue;
    font-size : x-small;
}

.btn {
    height: 32px;
    padding: 7px 0;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    font-size:10px;
    border-radius: 32px;
    text-align:center;
    text-decoration:none !important;
}

.btn-sq {
    border-radius: 8px;
}

.btn-gray {
    background: #D5D4D4;
    color: #ffff;
}

.btn-gray:hover {
    background: #D5D4D4;
}

.btn-pink {
    background: #f28280;
}

.btn-sq-gray {
    background: #ffffff;
    color: #B2B2B2 !important;
    border: 2px solid #B2B2B2;
}

.btn-pink-on {
    background: #ffffff;
    border: 2px solid #f28280;
    color: #f28280 !important;
}

.btn-pink:hover {
    background: #f28280;
}

.btn-yellow {
    background: #ddb679;
}

.btn-yellow:hover {
    background: #ddb679;
}

.btn-icon-twitter:before {
    background: url("../img/btnicon/btnicon_twitter.png") no-repeat;
    width: 13px;
    height: 10px;
}
.btn-icon-key:before {
    background: url("../img/btnicon/btnicon_key.png") no-repeat;
    width: 21px;
    height: 12px;
}

.btn-icon-edit:before {
    background: url("../img/btnicon/btnicon_edit.png") no-repeat;
    width: 18px;
    height: 18px;
}

.btn-icon-plus:before {
    background: url("../img/btnicon/btnicon_plus.png") no-repeat;
    width: 19px;
    height: 19px;
}

.btn-icon-follow-on:before {
    background: url("../img/btnicon/btnicon_follow_on.png") no-repeat;
    width: 18px;
    height: 18px;
}

.btn-icon-follow-off:before {
    background: url("../img/btnicon/btnicon_follow_off.png") no-repeat;
    width: 17px;
    height: 16px;
}

.btn-icon-mute-on:before {
    background: url("../img/btnicon/btnicon_mute_on.png") no-repeat;
    width: 19px;
    height: 19px;
    margin-right:8px !important;
}

.btn-icon-mute-off:before {
    background: url("../img/btnicon/btnicon_mute_off.png") no-repeat;
    width: 13px;
    height: 16px;
    margin-right:25px !important;
}

.btn-icon-bookmark-on:before {
    background: url("../img/btnicon/btnicon_bookmark_on.png") no-repeat;
    width: 16px;
    height: 14px;
}

.btn-icon-bookmark:before {
    background: url("../img/btnicon/btnicon_bookmark.png") no-repeat;
    width: 16px;
    height: 14px;
}

.btn-icon:before {
    content: "";
    display: inline-block;
    margin: 0px 10px 0 0;
    background-size: contain;
    vertical-align: middle;
}

.disp-pc {
    display:none;
}

.disp-sp {
    display:block;
}

.mainArea {
    display:block;
    max-width: 100%;
    min-width: initial;
}

.main {
    width:100%;
}

.side {
    width:100%;
}
@media screen and (min-width : 576px) {
    .mainArea {
        display:flex;
        max-width: 1400px;
        min-width: 1050px;
        justify-content: center;
    }

    .main {
        width: 700px;
        margin-right: 20px;
    }

    .side {
        width: 350px;
    }
    .disp-pc {
        display:block;
    }
    
    .disp-sp {
        display:none;
    }

    body {
        font-size:14px;
        margin: 0;  
        padding: 60px 0 0 0;
    }
}
/* 
@media screen and (min-width : 1200px) {
    .mainArea {
        width: 850px;
    }
} */

