@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";



.popupBodyCenter {
    text-align:center
}
.popupBodyLeft {
    text-align:left;
}

body {
    font-size:12px;
    margin: 0;  
    padding: 60px 0 60px 0;
}

* html body{  
    overflow: hidden;  
}

.constents{
    width: 100%;
    height: 100%;  
    overflow: auto;
} 

.header {
    height:60px;
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff
}

.footer-tab {
    height:60px;
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff
}

.menuIcon {
    font-size:9px;
    color:#A6A5A5;
    text-align:center;
}

.k_ti {
    font-size:14px;
    margin-bottom: 5px;
    display:flex;
    align-items:center;
}

.k_mi {
    font-size:12px;
    margin-bottom: 0px;
    display:flex;
    align-items:center;
    margin-bottom:5px;
}

.k_mi > * {
    white-space: nowrap;
    
}

.sp_line_0 {
    /* border : 1px solid red; */
    height : 0px;
}

.sp_line_ss {
    /* border : 1px solid red; */
    height : 5px;
}

.sp_line_s {
    /* border : 1px solid red; */
    height : 10px;
}

.sp_line_m {
    /* border : 1px solid blue; */
    height : 15px;
}

.sp_line_l {
    /* border : 1px solid green; */
    height : 20px;
}

.sp_line_xl {
    /* border : 1px solid green; */
    height : 30px;
}

.p18 {
    font-size: 18px;
    margin:0px
}

.p16 {
    font-size: 16px;
    margin:0px
}

.p14 {
    font-size: 14px;
    margin:0px
}

.p12 {
    font-size: 12px;
    margin:0px
}

.p10 {
    font-size: 10px;
    margin:0px
}

.p9 {
    font-size: 9px;
    margin:0px
}

.kerningLow {
    line-height: 1.2em;
}

.kerningHigh {
    line-height: 2em;
}

.grayBar {
    background-color:#303432;
    height:2px;
    opacity:0.1;
    margin:16px 0 13px 0;
}

.dotBar {
    height: 4px;
    margin: 10px 0px;
    background-size: 8px 4px;
    background-repeat: repeat-x; 
    background-position: left bottom;
}

.common-bar {
    width:100%;
    height:40px;
    color:#ffffff;
    font-size:20px;
    border-radius: 6px;
    padding: 7px 0 0 10px;
}

.common-grayBar {
    background-color:#303432;
    height:2px;
    opacity:0.1;
    margin:8px 0 13px 0;
}
.common-head {
    font-size: 16px;
    /* padding-left: 10px; */
    margin-bottom:5px;
    margin-top:20px;
}

.common-sentence {
    text-indent: 1em;
    font-size: 12px;
    /* margin-left: 20px; */
    width:95%;
    margin:auto;
    line-height: 1.7em;
    word-break: break-all;
}

.common-ol1 {
    text-indent: 0em;
    list-style-type: decimal;
    /* padding-left:16px; */
}

.common-ol1 > li {
    margin-top:10px;
}

/* .common-ol2 {
    list-style-type: lower-roman;
    padding-left:16px;
} */

.common-ol2 {
    text-indent: 0em;
    /* サイトに合せて調整*/
	/* margin-left: 20px;   */
}
 
.common-ol2 > li {
	list-style-type: none;
	counter-increment: cnt;
    margin-top:10px;
}
 
.common-ol2 > li::before {
	content: "(" counter(cnt) ")";
	display:inline-block;
	margin-left:-2.4em; /*サイトに合せて調整 */
    width: 2.2em; /*サイトに合せて調整 */
}

.common-ul1 {
    text-indent: 0em;
    list-style-type: disc !important; 
    padding-left:16px !important;
}

.common-ul1 {
    margin-top:6px;
}

#overlay{
    /*要素を重ねた時の順番*/
    z-index:9999;

    /*画面全体を覆う設定*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);

    /*画面の中央に要素を表示させる設定*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    z-index:10000;
    /* width:325px; */
    padding: 1em;
    background:#fff;
    border-radius: 6px;
}

.tipsPopup {
    width:90%;
}

.modalBg {
    overflow-y: hidden;
}

.post-user {
    font-size: 10px;
    color: #A6A5A5;
    text-decoration: none !important;
}
.post-title {
    font-size: 12px;
    color: #474747;
    font-weight:bold;
    text-decoration: none !important;
}
.post-outline {
    font-size: 6px;
    color: #211F1E;
}
.post-sub {
    font-size: 10px;
    color: #A6A5A5;
}
.post-num {
    font-size: 12px;
    color: #211F1E;
}

.al-center {
    display: flex;
    align-items: center; 
}

.link {
    text-decoration: none !important;
    font-size: 12px !important;
    cursor: pointer;
    margin : 0;
}

.cursor {
    cursor: pointer;
}

.tips {
    width:19px;
    height:19px;
    margin-left:10px;
}

.form-select {
    border:none;
    border-radius:10px;
    box-shadow: none;
    height: 40px;
    font-size:12px;
}

input:-webkit-autofill {
    /* transition: background-color 5000s ease-in-out 0s !important; */
    box-shadow: 0 0 0 1000px #fff5f6 inset;
}

.input-text {
    border:none;
    border-radius:10px;
    box-shadow: none;
    height: 40px;
    font-size:12px;
    padding: 10px 10px;
}

.searchBox {
    position:relative;
    margin-bottom:60px;
}

.searchBox-text {
    position:absolute; 
    left:0;
    top:0;
    padding-right:40px
}
.searchBox-btn {
    position:absolute; 
    right:9px;
    top:9px;
    background:none;
    /* color:#666; */
    border:none;
    cursor: pointer;
}
.searchBox-btn:focus-visible {
    outline: none;
}

.dialogBg {
    position: fixed;
    top : 0;
    left : 0;
    z-index: 998; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    background: rgba(0, 0 , 0, 0.5);
}

.dialog {
    position: fixed;
    top : 50%;
    left : 50%;
    z-index: 998; 
    width: 300px;
    height: 200px;/*表示する高さ*/
    transform: translate(-50%,-50%);
    overflow: auto;
    background: #ffdff3;
}

.page-main {
    /* display:inline; */
    padding: 0;
}

.page-li {
    display:inline;
}

.page-li-in {
    padding:10px 15px;
    color: #C0BFBF;
    text-decoration: none;

}

.page-li-in:hover {
    color: #C0BFBF;
}

.page-cur {
    border-radius: 50%;
    color: #ffffff;
}

.errMsg {
    color : #EE3632;
    font-size: 6px;
    text-align:left;
    margin:0;
}

.constrains {
    font-size: 6px;
    text-align:right;
    margin:0;
    width:100%;
}

.annotMsg {
    color : blue;
    font-size : x-small;
}

.imgBtn {
    cursor: pointer;
}

.btn {
    height: 32px;
    padding: 7px 0;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    font-size:10px;
    border-radius: 32px;
    text-align:center;
    text-decoration:none !important;
}

.btn-sq {
    border-radius: 8px;
}

.btn-gray {
    background: #D5D4D4;
    color: #ffff;
}

.btn-gray:hover {
    background: #D5D4D4;
}

.btn-pink {
    background: #f28280;
}

.btn-sq-gray {
    background: #ffffff;
    color: #B2B2B2 !important;
    border: 2px solid #B2B2B2;
}

.btn-on {
    background: #ffffff;
}

/* .btn-pink:hover {
    background: #f28280;
} */

.btn-yellow {
    background: #ddb679;
}

.btn-yellow:hover {
    background: #ddb679;
}

.btn-icon-twitter:before {
    background: url("../img/btnicon/btnicon_twitter.png") no-repeat;
    width: 13px;
    height: 10px;
}
.btn-icon-key:before {
    background: url("../img/btnicon/btnicon_key.png") no-repeat;
    width: 21px;
    height: 12px;
}

.btn-icon-edit:before {
    background: url("../img/btnicon/btnicon_edit.png") no-repeat;
    width: 18px;
    height: 18px;
}

.btn-icon-plus:before {
    width: 19px;
    height: 19px;
}
.btn-icon-plus_1:before {
    background: url("../img/btnicon/btnicon_plus_1.png") no-repeat;
}
.btn-icon-plus_2:before {
    background: url("../img/btnicon/btnicon_plus_2.png") no-repeat;
}
.btn-icon-plus_3:before {
    background: url("../img/btnicon/btnicon_plus_3.png") no-repeat;
}
.btn-icon-plus_4:before {
    background: url("../img/btnicon/btnicon_plus_4.png") no-repeat;
}

.btn-icon-follow-on:before {
    width: 18px;
    height: 18px;
}

.btn-icon-follow-on_1:before {
    background: url("../img/btnicon/btnicon_follow_on_1.png") no-repeat;
}
.btn-icon-follow-on_2:before {
    background: url("../img/btnicon/btnicon_follow_on_2.png") no-repeat;
}
.btn-icon-follow-on_3:before {
    background: url("../img/btnicon/btnicon_follow_on_3.png") no-repeat;
}
.btn-icon-follow-on_4:before {
    background: url("../img/btnicon/btnicon_follow_on_4.png") no-repeat;
}

.btn-icon-follow-off:before {
    background: url("../img/btnicon/btnicon_follow_off.png") no-repeat;
    width: 17px;
    height: 16px;
}

.btn-icon-mute-on:before {
    width: 19px;
    height: 19px;
    margin-right:8px !important;
}

.btn-icon-mute-on_1:before {
    background: url("../img/btnicon/btnicon_mute_on_1.png") no-repeat;
}
.btn-icon-mute-on_2:before {
    background: url("../img/btnicon/btnicon_mute_on_2.png") no-repeat;
}
.btn-icon-mute-on_3:before {
    background: url("../img/btnicon/btnicon_mute_on_3.png") no-repeat;
}
.btn-icon-mute-on_4:before {
    background: url("../img/btnicon/btnicon_mute_on_4.png") no-repeat;
}

.btn-icon-mute-off:before {
    background: url("../img/btnicon/btnicon_mute_off.png") no-repeat;
    width: 13px;
    height: 16px;
    margin-right:25px !important;
}

.btn-icon-bookmark-on:before {
    background: url("../img/btnicon/btnicon_bookmark_on.png") no-repeat;
    width: 16px;
    height: 14px;
}

.btn-icon-bookmark_on_1:before {
    background: url("../img/btnicon/btnicon_bookmark_on_1.png") no-repeat;
}
.btn-icon-bookmark-on_2:before {
    background: url("../img/btnicon/btnicon_bookmark_on_2.png") no-repeat;
}
.btn-icon-bookmark-on_3:before {
    background: url("../img/btnicon/btnicon_bookmark_on_3.png") no-repeat;
}
.btn-icon-bookmark-on_4:before {
    background: url("../img/btnicon/btnicon_bookmark_on_4.png") no-repeat;
}

.btn-icon-sns-on:before {
    background: url("../img/btnicon/btnicon_sns_on.png") no-repeat;
    width: 14px;
    height: 14px;
}

.btn-icon-sns_on_1:before {
    background: url("../img/btnicon/btnicon_sns_on_1.png") no-repeat;
}
.btn-icon-sns-on_2:before {
    background: url("../img/btnicon/btnicon_sns_on_2.png") no-repeat;
}
.btn-icon-sns-on_3:before {
    background: url("../img/btnicon/btnicon_sns_on_3.png") no-repeat;
}
.btn-icon-sns-on_4:before {
    background: url("../img/btnicon/btnicon_sns_on_4.png") no-repeat;
}

.btn-icon-bookmark-off:before {
    background: url("../img/btnicon/btnicon_bookmark_off.png") no-repeat;
    width: 16px;
    height: 14px;
}

.btn-icon:before {
    content: "";
    display: inline-block;
    margin: 0px 10px 0 0;
    background-size: contain;
    vertical-align: middle;
}

.disp-pc {
    display:none;
}

.disp-sp {
    display:block;
}

.mainArea {
    display:block;
    max-width: 100%;
    min-width: initial;
}

.main {
    width:100%;
}

.side {
    width:100%;
}

.topImgWidth {
    width:100%;
}

@media screen and (min-width : 576px) {
    /* body {
        font-size:14px;
        margin: 0;  
        padding: 60px 0 0 0;
    } */
}

@media screen and (min-width : 768px) {
    .tipsPopup {
        width:700px;
    }

    .topImgWidth {
        width:750px;
    }   
}

@media screen and (min-width : 1000px) {
    .mainArea {
        display:flex;
        max-width: 1400px;
        min-width: 1050px;
        justify-content: center;
    }

    .main {
        width: 600px;
        margin-right: 20px;
    }

    .side {
        width: 350px;
    }

    .disp-pc {
        display:block;
    }
    
    .disp-sp {
        display:none;
    }
}
/* 
@media screen and (min-width : 1200px) {
    .mainArea {
        width: 850px;
    }
} */

